@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/*  MENU   */
.header {
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    margin-top: -10px;
}

.navigation ul {
    list-style: none;
    margin-top: auto;
    margin-left: auto;
    margin-right: 80px;
}

.header .navigation ul li {
    float: left;
    position: relative;
}

.header .navigation ul li a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all .2s ease;
    font-family: 'Poppins', sans-serif;
}

.header .navigation ul li a:hover {
    color: red;
}

.header .navigation ul li ul {
    position: absolute;
    width: 300px;
    background-color: rgb(241, 241, 241);
    display: none;
    top: 72px;
}

.header .navigation ul li ul li a {
    font-size: 15px;
    text-transform: capitalize;
}

.header .navigation ul li ul li ul {
    position: absolute;
    top: 0;
    right: 300px;
}

.header .navigation ul li ul li {
    width: 100%;
}

.header .navigation ul li:hover>ul {
    display: initial;
}

.header label {
    display: none;
    cursor: pointer;
}

.menu {
    width: 45px;
    height: 35px;
}

.contant-plataforma {
    background: red;
    margin-top: -8px;
    margin-left: -7.6px;
    height: 25px;
    width: 1318px;
}

.containt-plataforma {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    padding: 2.5px 0 0 10px;

}

.containt-plataforma a:hover {
    color: black;
    cursor: pointer;
}

.img__menu {
    width: 115px;
    height: 70px;
    margin-right: 100px;
    margin-top: 8px;
}

/*    BANNER     */
.slider {
    width: 1317.5px;
    height: 528px;
    border-radius: 10px;
    overflow: hidden;
    padding: 70px 0 0 0;
    margin-left: -8px;
    overflow-x: hidden;
}

.slides {
    width: 6585px;
    height: 528px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 1317.5px;
    transition: 2s;
}

.slide img {
    width: 1317.5px;
    height: 600px;
}

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    margin-left: 300px;
}

.manual-btn {
    border: 2px solid rgb(241, 241, 241);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: rgb(241, 241, 241);
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 488px;
    margin-left: 300px;
}

.navigation-auto div {
    border: 2px solid rgb(241, 241, 241);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background: rgb(241, 241, 241);
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background: rgb(241, 241, 241);
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background: rgb(241, 241, 241);
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background: rgb(241, 241, 241);
}

.mensaje {
    height: 200px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 100px;
    letter-spacing: 2px;
}

/*     PRODUCTS    */
.productos__item {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-top: 100px;
}

.principal__product {
    margin-top: -100px;
    margin-left: 70px;
}

.mensaje-mas {
    margin-left: 60px;
    font-family: 'Poppins', sans-serif;
}

.conte {
    height: 400px;
    width: 300px;
    box-shadow: 0 0 7px #111;
    margin-bottom: 170px;
    border-radius: 10px;
}

.conte .card {
    height: 200px;
    width: 100%;
    margin-bottom: 170px;
}

.card img {
    margin: auto;
    display: block;
}

.stor img {
    padding: 20px 0 0 0;
    height: 300px;
    width: 250px;
}

.informacion {
    margin-top: -35px;
    height: 80px;
    width: 100%;
}

.informacion h1 {
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #333;
    margin-bottom: -10px;
}

.precio {
    height: 50px;
    width: 85%;
    margin-left: 100px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-precio {
    width: 80px;
    margin-top: -140px;
}

.precio2 {
    font-size: .9em;
    color: red;

}

/* PRODUCT SECUNDARY 1*/
.secundary__products1 {
    margin-left: 500px;
    margin-top: -650px;
}

.contes {
    height: 260px;
    width: 200px;
    box-shadow: 0 0 7px #111;
    margin-bottom: 170px;
    border-radius: 10px;
    cursor: pointer;
}

.contes .card {
    height: 200px;
    width: 100%;
    margin-bottom: 170px;
}

.card img {
    margin: auto;
    display: block;
}

.stors img {
    padding: 12px 0 0 0;
    height: 200px;
    width: 170px;
}

.informacions {
    margin-top: -150px;
    height: 60px;
}

.informacions h1 {
    font-family: sans-serif;
    font-size: .9em;
    text-align: center;
    color: #333;
    margin-bottom: -10px;
}

.precios {
    height: 30px;
    width: 85%;
    margin-left: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-precios {
    width: 80px;
    margin-top: -100px;
}

.precio2s {
    font-size: .8em;
    color: white;

}

/* PRODUCT SECUNDARY 2*/
.secundary__products2 {
    margin-left: 500px;
    margin-top: -150px;
}

.informacions2 {
    margin-top: -10x;
    height: 60px;
}

.informacions2 h1 {
    font-family: sans-serif;
    font-size: .9em;
    text-align: center;
    color: #333;
    margin-bottom: -10px;
}

.precios2 {
    height: 30px;
    width: 85%;
    margin-left: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-precios {
    width: 80px;
    margin-top: -100px;
}

.precio2s2 {
    font-size: .8em;
    color: red;

}

/* PRODUCT SECUNDARY 3*/
.secundary__products3 {
    margin-left: 750px;
    margin-top: -710px;
}

/* PRODUCT SECUNDARY 4 */
.secundary__products4 {
    margin-left: 750px;
    margin-top: -150px;
}

/* PRODUCT SECUNDARY 5 */
.secundary__products5 {
    margin-left: 1000px;
    margin-top: -710px;
}

/* PRODUCT SECUNDARY 6*/
.secundary__products6 {
    margin-left: 1000px;
    margin-top: -150px;
}

/*Novedades*/
/*Carrusel*/
.carousel {
    width: 1000px;
    border-radius: 10px;
    height: 370px;
    background: red;
    margin-left: 140px;
}

.contes2 {
    height: 260px;
    width: 200px;
    margin-bottom: 170px;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 50px;
}

.novedades {
    font-family: 'Poppins', sans-serif;
    margin-left: 800px;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}

.card img {
    border-radius: 10%;
}

.carrusel-list {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    margin: 50px auto;
    max-width: 150vh;
    overflow: hidden;
}

.carrusel-track {
    position: relative;
    top: 70px;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
    padding: 10px 10px;
    margin-top: -40px;
}

.carrusel {
    position: relative;
    width: 210px;
    padding: 0 120px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
}

.carrusel h4 {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #ffffff;
    padding: 15px;
}

.carrusel h4 small {
    font-size: 15px;
    display: block;
}

.carrusel a img {
    object-fit: cover;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
}

.carrusel-arrow {
    border-radius: 30px;
    background-color: #ffffff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.carrusel-arrow:focus {
    outline: 0;
}

.carrusel-arrow svg {
    width: 12px;
    height: 100%;
    color: rgba(0, 0, 0, 0.7);
}

.carrusel-prev {
    left: 0px;
}

.carrusel-next {
    right: 0px;
}

/*-----*/
/* CONOCERNOS  */
.conocenos span {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.conocer {
    margin-left: 570px;
}

.ubicacion img {
    width: 400px;
    height: 250px;
    margin-left: 180px;
    margin-top: 20px;
    cursor: pointer;
}

.textUbicacion {
    width: 400px;
    margin-left: 680px;
    text-align: center;
    margin-top: -230px;
    font-family: 'Poppins', sans-serif;
}

.textUbicacion h1 {
    font-size: 25px;
}

.textUbicacion h4 {
    font-weight: lighter;
}

.nosotros img {
    width: 300px;
    height: 260px;
    margin-top: 80px;
    margin-left: 730px;
    cursor: pointer;
}

.nosotrosTexto {
    font-family: 'Poppins', sans-serif;
    width: 400px;
    text-align: center;
    margin-top: -210px;
    margin-left: 200px;
}

.nosotrosTexto h1 {
    font-size: 25px;
}

.nosotrosTexto h4 {
    font-weight: lighter;
}

.pie_pagina {
    background: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: -8px;
    width: 1316px;
    height: 350px;
    margin-top: 100px;
}

.links {
    margin-left: 600px;
    margin-top: -270px;
}

.links a {
    text-decoration: none;
    color: white;
}

.importante {
    margin-left: 900px;
    margin-top: -220px;
}

.correo {
    border-radius: 5px solid red;
    height: 20px;
    font-family: 'Poppins', sans-serif;
}

.busqueda {
    height: 20px;
    border-radius: 10px;
}

.logo-footer img {
    width: 270px;
    height: 200px;
    margin-left: 160px;
    margin-top: 40px;
}

.contact {
    margin-left: 230px;
}

.footer__socials {
    margin-top: 20px;
    margin-left: 230px;
}

.footer__social {
    padding: 0 0 0 10px;
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
}

.footer__social:hover {
    color: red;
}